.licences {
  margin-top: 5em;
}
.licences-container {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}
.licences-container .item {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.licences-container .title {
  text-align: justify;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.18%;
  color: var(--black);
  margin-bottom: 24px;
}
.licences-container .item img {
  height: 98px;
  width: 147px;
  margin-right: 24px;
}
.content h3 {
  text-align: left;
  color: var(--black);
  font-weight: 500;
}
.licences-container p {
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}

.licences-container .item p:nth-of-type(1) {
  font-weight: 700;
}
.licences-container .item p:nth-of-type(2) {
  font-weight: 400;
}
.licences-container .item p:nth-of-type(3) {
  font-weight: 400;
  color: var(--gray);
}

@media screen and (min-width: 1024px) {
  .licences-container .item {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .licences-container {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
