.interestes {
  background: var(--pink);
  box-sizing: border-box;
}
.skills h1 {
  text-align: justify;
  margin-bottom: 1em;
}
.skills h2 {
  padding: 1em 0;
}
.icons {
  min-height: 284px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
