h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.18%;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: var(--purple);
  font-weight: 500;
  text-align: center;
}

.white {
  background: var(--white);
}

.app {
  text-align: center;
}

.app-wrapper {
  width: 100%;
  max-width: 1900px;
  background: var(--gray);
  height: 100vh;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-direction: column;
}

nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--purple);
  font-weight: 500;
  font-size: 20px;
}

.header nav {
  margin: 1.5em;
}

.header ul li {
  text-decoration: none;
  list-style: none;
  margin: .5em 0;
}

.header ul li a {
  text-decoration: none;
}
header ul li:hover {
  border-bottom: 2px solid var(--red);
}

.active {
  border-bottom: 2px solid var(--red);
}

.app-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100%;
  background: var(--gray-background);
  gap: 1.5em;
  grid-template-areas:
    "header"
    "main"
    "aside";
}
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: var(--white);
  width: 100%;
  box-shadow:  0px 16px 24px 0px rgb(0 0 0 / 16%)
}
.aside {
  grid-area: aside;
}
.main {
  grid-area: main;
  box-shadow:  0px 2px 6px 0px rgb(0 0 0 / 4%)
}

/* HEADER START */
#toggle{
  display: block;
  margin: 0;
  background: pink;
  display: block;
  height: 4em;
  padding: 3px 0;
  box-sizing: border-box;
}
.toggle::after {
  display: block;
  content: "";
  width: 1.5rem;
  padding: 3px;
  margin: 5px;
  height: 1px;
  background-color: var(--purple);
}
.toggle::before {
  display: block;
  content: "";
  width: 1.5rem;
  padding: 3px;
  height: 1px;
  margin: 5px;
  background-color: var(--purple);
}
.toggle-transformed {
  transition: 1s ease-in;
}
.toggle-transformed::after {
  transform: rotate(45deg);
  position: relative;
  top: 4px;
}
.toggle-transformed::before {
  transform: rotate(-45deg);
  position: relative;
  top: 16px;
}
.responsive{
  display: none;
}
/* HEADER START */

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 1024px) {
  .app-container {
    grid-template-areas:
      "aside header header header header"
      "aside main main main main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto;
    column-gap: 2em;
  }
  .section-wrapper {
    max-width: 1300px;
    width: 1024px;
    overflow: scroll;
  }
  .header {
    grid-area: header;
    position: initial;
    background: none;
    box-shadow: none;
  }
  .aside {
    grid-area: aside;
    margin: 0;
  }
  .main {
    grid-area: main;
    height: auto;
  }
  .wrapper {
    overflow: scroll;
    padding: 1.5em;
    width: 100%;
    max-width: 907px;
    margin: 0 auto;
  }
  .main .wrapper-no-p {
    overflow: scroll;
    margin: 0 auto;
  }
  #toggle {
    display: none;
  }
  nav ul {
    flex-direction: row;
  }
}
